name: diamond_printer
description: "Advanced printer plugin for Flutter with ESC/POS, CPCL, ZPL support for thermal and label printers via Bluetooth and WiFi."
version: 0.0.1
homepage: https://github.com/yourusername/diamond_printer

environment:
  sdk: ^3.9.2
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2
  image: ^4.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.diamond.printer.diamond_printer
        pluginClass: DiamondPrinterPlugin
      ios:
        pluginClass: DiamondPrinterPlugin
